* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  padding-top: 50px;
}

.container {
  width: 800px;
  margin: auto;
}

.post {
  margin-bottom: 15px;
}

.head {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  padding: 15px;
  font-weight: bold;
  /* border-radius: 6px; */
  border-radius: 6px 6px 0 0;
}

.body {
  background-color: #f7f7f7;
  padding: 15px;
  border-radius: 0 0 6px 6px;
  border: 1px solid #ebebeb;
}

.body .title {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #e91e63;
  line-height: 2;
}

.body .post-content {
  padding: 10px;
  line-height: 2;
  font-size: 22px;
  letter-spacing: 0.5px;
  color: #333;
}

.post {
  margin-bottom: 50px;
}
